.read-article-page {
  height: 100vh;
  background-color: #f2f2f2;
}

.read-article-container {
  width: 60%;
  max-width: 680px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 150%;
}

.read-article-title {
  text-align: center;
  font-size: 28px;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 25px;
}

.default-image {
  text-align: center;
  margin-bottom: 25px;
}

.read-article-content img {
  max-width: 680px;
  height: auto;
  margin-bottom: 25px;
}

.url-button-container {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.url-button {
  display: inline-block;
}
