.reader-list-container {
  padding-top: 51px;
  max-width: 600px;
  padding-right: 50px;
  padding-left: 300px;
  margin: auto;
  background-color: #fff;
}

@media (max-width: 600px) {
  .reader-list-container {
    padding-left: 50px;
  }
}
