.team-container {
  padding-top: '80px';
  padding-bottom: '80px';
  width: '100%';
  text-align: 'center';
  background-color: #ECEFF1;
}
.team {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}
