.team-container {
  padding-top: '45px';
  padding-bottom: '45px';
  width: '100%';
  text-align: 'center';
  background-color: '#eee';
}
.team {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}

.team-header {
  font-family: 'Bitter', serif;

}

