.navbar {
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  height: 70px;
  text-align: right;
  background-color: #fff;
}

.greeting {
  position: absolute;
  padding-right: 100px;
  top: 5px;
  right: 0;
}

.logout {
  padding-right: 13px;
  padding-top: 13px;
}
