.sidebar-container {
  position: fixed;
  min-width: 250px;
  width: 250px;
  height: 100vh;
  border-right: 1px solid #888;
  background-color: #f2f2f2;
  z-index: 1001;
}

.sidebar-logo {
  height: 80px;
  width: auto;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.logo-name {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.refresh-icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.archive-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}
