  .features {
    display: flex;
    padding-top: -245px;,
    padding-bottom: 45px;,
    width: 100%;
    text-align: center;
    background-color: #00BCD4;
    justify-content: space-between;
  }

.h3 {
  font-size: 3em;
  line-height: 1;
  display: block;
  color: #fff;
  margin: .5em 0;
  }

* {
  font-family: 'Bitter', serif;
}

.description {
  flex-grow: 1;
  text-align: justify;
  text-justify: inter-word;
  max-width: auto;

  padding: 20px;
}

.features-list {
  margin: auto;
  max-width: 90%;
  justify-content: space-around;
}


.feature-item {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}

.info-a {
  order: 1;
  max-width: 500px;
  padding: 10px;
  font-family: 'Bitter', serif;
  width: auto;
}


 .info-b {
  order: 0;
  max-width: 500px;
  min-width: 200px;
  padding: 10px;
  align-self: flex-reverse;
  width: auto;
  font-family: 'Bitter', serif;
}

.icon-a {
  order: 0;
  align-self: center;
  margin: auto;
}

.icon-b {
  order: 2;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .icon-b {
    order: 0;
  }
  .info-b {
    order: 1;
  }
}

@media screen and (max-width: 600px) {
  .icon-b {
    text-align: center;
    order: 0;
    margin: auto;
  }
  .info-b {
    order: 1;
  }
}