.features {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #B0BEC5;
  justify-content: space-between;
  padding-top: 80px;
  color: #000;
}

.h3 {
  font-size: 3em;
  line-height: 1;
  display: block;
  margin: .5em 0;
  }

* {

}

.description {
  flex-grow: 1;
  text-align: justify;
  text-justify: inter-word;
  max-width: auto;
  line-height: 130%;
  padding: 20px;
}

.features-list {
  margin: auto;
  max-width: 90%;
  justify-content: space-between;
  padding-bottom: 80px;
}


.feature-item {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
}

.info-a {
  order: 1;
  max-width: 600px;
  padding: 10px;
  width: auto;
}


 .info-b {
  order: 0;
  max-width: 600px;
  min-width: 200px;
  padding: 10px;
  align-self: flex-reverse;
  width: auto;
}

.icon-a {
  order: 0;
  align-self: center;
  margin: auto;
}

.icon-b {
  order: 2;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .icon-b {
    order: 0;
  }
  .info-b {
    order: 1;
  }
}

@media screen and (max-width: 600px) {
  .icon-b {
    text-align: center;
    order: 0;
    margin: auto;
  }
  .info-b {
    order: 1;
  }
}
